<app-header></app-header>
<div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let item of items"> 
        <div class="thumbnail">
            <img [src]="item.imagepath" alt="..." class="img-responsive" style="max-width:250px">
            <div class="caption">
                <h3>{{item.productName}}</h3>
                <div class="clearfix">
                    <div class="price pull-left"><strong>Rs.{{item.productPrice}}</strong></div>
                   <!-- // <a class="btn btn-success pull-right" role="button" (click)=toCart(product)>Add to Shopping List</a> -->
                    <button class="btn btn-danger pull-right" (click)=onSelect(item)>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>